html, body {
  background-color: #282424;
  margin: 3%;
  padding: 0;
  color: green;
  
}
canvas {
  display: block;
}
textarea {
 color:green; 
 font-size:large;
  background: black;
}

#header{
  font-size: large;
  position: absolute;
  top: 10px;
  width: 50%;
  border: 3px solid #8AC007;
}